@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://cdn.syncfusion.com/ej2/material.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    --sliderColor:#2B396B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.bg-green {
    background-color: #73bf43;
}

.bg-light-green {
    background-color: #9dd27b;
}

.bg-lighter-green {
    background-color: #d5ebc6;
}

.text-green {
    color: #73bf43;
}
.text-blue {
    color: #223169;
}

.text-light-green {
    color: #E5F5F4;
}

.green-border {
    border-color: #73bf43;
}

.blue-border {
    border-color: #223169;
}
.blue-bg {
    background-color: #223169;
}

.bg-light-yellow {
    background-color: #fcf3cf;
}

.checkbox-container {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    font-size: 22px; 
    user-select: none;
}

.checkbox {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.checkbox-custom {
    position: absolute;
    top: -0.85rem;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
    z-index: 0;
}

.checkbox:checked ~ .checkbox-custom::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.max-w-20 {
    max-width: 15rem;
}

.max-w-30 {
    max-width: 20rem;
}

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
    width: 18rem;
}
.sidebar .logo {
    margin-top: 2.5rem;
    margin-left: 1rem;
}
.sidebar-item svg {
    width: 24px;
    height: 24px;
}
.sidebar-item:hover {
    background-color: #054629;
}

.nav-item,
.navbar {
    z-index: 10000;
}

.sidebar .sidebar-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*-- calendar --*/
.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-calendar .e-content td.e-today:hover span.e-day, 
.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day {
    border: 1px solid #054629;
    color: #054629;
}

.e-calendar .e-content td.e-selected.e-focused-date span.e-day, 
.e-calendar .e-content td.e-today.e-selected span.e-day, 
.e-calendar .e-content td.e-today.e-selected:hover span.e-day, 
.e-calendar .e-content td.e-selected:hover span.e-day, 
.e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    color: white;
    background-color: #054629;
    border: 1px solid #054629;
}

.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary,
.e-btn.e-flat.e-primary:hover, .e-css.e-btn.e-flat.e-primary:hover {
    color: #01563F;
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
    z-index: 1000000 !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* color-picker style  */

#preview {
    background: transparent
        url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
        no-repeat;
    display: inline-block;
    height: 80px;
    margin: 10px 0;
    min-width: 300px;
    max-width: 600px;
    background-color: #01563F;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
    border: none;
}

.dot-green {
    background: #32CD32;
}

.dot-red {
    background: #FF4500;
}

.dot-blue {
    background: #1E90FF;
}

.dot-purple {
    background: #9370DB;
}

.dot-gray {
    background: #808080;
}

.dot-orange {
    background: #FFA500;
}

.canvas {
    position: relative;
}

.eraser-icon {
    position: absolute;
}

/* Range Slider */
.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* margin: 35% auto; */
  }
  
  .sliders_control {
    position: relative;
    height: 30px;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 5px;
    height: 20px;
    background-color: var(--sliderColor);
    /* border-radius: 50%; */
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 5px;
    height: 20px;
    background-color: #fff;
    /* border-radius: 50%; */ 
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: var(--sliderColor);
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px var(--sliderColor), 0 0 9px var(--sliderColor);
    -webkit-box-shadow: inset 0 0 3px var(--sliderColor), 0 0 9px var(--sliderColor);
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }

  /* End range slider */




/* Media Queries */
@media  screen and (max-width:800px) {
    .sidebar{
        z-index: 10000000;
    }
}

@media (max-width: 600px) {
    .product-card {
        width: 47% !important;
        margin: 0;
    }
    .product-card:nth-child(2n) {
        padding-right: 0;
    }
    .qualities{
        flex-wrap: wrap;
    }
    .top-categories{
        width: 100%;
        padding: 1rem 0.6rem;
    }
    .new-arrivals{
        flex-wrap: wrap;
    }
    .new-arrivals-row{
        gap: 1rem;
    }
    
}